*{  
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

/*.arrow-up{
    padding: 0 10px;
    border: 2px solid black;
    border-radius: 50%;
}*/

.drops{
    position: absolute;
    left: 80%;
    font-size: x-large;
    top: 74px;
}

#female{
    color:hotpink;
}

#male{
    color:blue;
}

body{
    /*background-color:rgb(64 68 120 / 90%)*/
    /*background-color: rgb(181 186 253 / 90%);*/
    /*background-image: url("backgrounds/javier_background.nef");
    background-size: contain;
    /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}
header{
    /*background-color: rgb(0 0 0 / 80%);
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;*/
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    box-shadow: 0 4px 8px 0 rgb(30 30 29 / 20%), 0 6px 20px 0 rgb(255 255 255 / 19%);
    transition: box-shadow 0.3s;
}

header:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.244), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

h2{
    background: white;
    /* text-align: center; */
    width: 100%;
    margin: 50px auto 50px auto;
    text-align: center;
    letter-spacing: 7px;
    border-radius: 20px;
    padding: 8px;
}

.logo{
    cursor: pointer;
    font-family: 'Shadows Into Light' !important;
    transition: letter-spacing, 0.5s;
}

.logo:hover{
    letter-spacing: 0.8rem;
}
.header-text{
    font-size: 1rem;
    font-family: 'Shadows Into Light' !important;
    letter-spacing: 0.1rem;
    color: #841616;
    width: 25%;
    height: auto;
    padding: 0;
    text-align: center;

}

.secciones{
    height: auto;
}

.name{
    list-style: none;
    color: #bbc2ff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: x-large;
    padding-left: 10px;
    width: 50%;
    border-right: 5px solid #78D492;
}

.nav{
    width: 50% !important;
    display: flex;
   /* background-color: rgb(0 0 0 / 80%);*/
    list-style: none;
    /*color: rgb(255 255 255 / 80%);*/
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 1px solid #FFF79A;
    border-right: 1px solid #FFF79A;
    color: black;
    background: #00000012;

}

.nav li{
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.2s;
}

.nav li:hover{
    color: white;
    font-style: italic;
    text-decoration: underline;
    /*font-size: 20px;*/
}

.franjas{
    display: flex;
}

#franja1{
    background-color:#78D492;
    width:15px;
}

#franja2{
    background-color: #FFF79A;
    width: 15px;
}

#seccion1{
    background-color:#FFF79A; 
    width: 50%;
    padding-left: 10px;
    height: 100vh;
}

/*#seccion1 div{

    background-color: black ;  
    width: 80%;
    height: 80%;
}*/

/* .secciones{
   background-image: url(backgrounds/javier_background.nef);
    background-size: cover;
    background-image: linear-gradient(to right, #434343 0%, black 100%); 
    background-position-y: bottom;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100vh;
    /*border-left: 5px solid #FFF79A;
    border-right: 5px solid #FFF79A;
    /*border: 2px solid white;
    /*border: 1px solid white;
    /*height: 100vh;
    padding: 0 20px 0 0;
}*/

#seccion2 div{
    padding-top: 9px;
}

#tarjeta{
    width: 50%;
    height: fit-content;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: black 1px 1px 10px;
   /* padding-top: 10px;*/
   /*transition: box-shadow, width 0.1s;*/
}

/*#tarjeta:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    width: 60%;
}*/

form{
    max-width: 400px;
    margin: auto;
    padding: 30px;
}

.form_container{
    display: grid;
    grid-gap: 1em;
    /*width: 50%;
    margin: auto;*/

}

.form_container input{
    height: 50px;
    text-align: center;
}

.form_container input, .form_container textarea{
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: #000000cc;
    
}

.form_input-message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
}

.form-submit{
    color: #bdf7ce !important;
    width: 50%;
    margin: auto;
    box-shadow: #bdf7ce 1px 1px 10px;
}

.form-submit:hover{
    background-color: white;
    color:black !important;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 700;
}

#contenedor_texto{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 100%;
    margin: auto;
    padding: 50px 75px 50px 75px;
    height: 100vh;
    border-bottom: 2px solid black;
    border-right: 5px solid #00000080;
    /*background-color: #00000075;*/
    /*border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 4px white;*/

}

#apartados{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-top: 60px;
}

.apartados-title{
    color: black;
    text-shadow: 2px 2px 4px #ffffff;
    background-color: azure;
    border-radius: 20px;
    padding: 2px 0px;
    box-shadow: #a78181 1px 1px 5px;
}

/*.apartados-title:hover{
    color: white;
    background-color: black;
    border:2px solid white;
}*/

.apartados-text{

    font-family: system-ui;
    background: azure;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    line-height: 30px;
    border-radius: 10px;
    height: 230px;
    box-shadow: #a78181 1px 1px 5px;
  
}

.apartados-icons{
    font-size: x-large;
    color:black;
    text-shadow: none;
    /*display: none*/
}

/*.container-animation{
    position: relative;
}
*/
/*.sub-menu{
    display: none;

}*/

/*.animate{
    width: 100%;
    position: absolute;
    left: 100%;
    cursor: pointer;
}
*/
/*.servicios{
    background-color: #000000c7;
}
*/
.servicios, .valores, .tecnologias, .formacion{
    width: 20%;
    border-radius: 25px;
}
/*
.valores{
    background-color: #ed143dcc;
}

.tecnologias{
    
    background-color: #008080cc;
}

.formacion{
    background-color: #052342cc;
    color: white;
}
*/

/*#contenedor_portfolio{
    /*display: none;
    width: 60%;
    height: 100%;
    margin: auto;
    /*border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow: auto;
    /*background-color: #00000075;
}
*/
.icons_container{
    text-align: center;
}

.works-done{
    /*display: flex;
    justify-content: space-evenly;*/
    margin: auto;
    width: 50%;
    height: auto;
    margin-bottom: 50px;
    color: rgb(0 0 0);
    box-shadow: black 2px 2px 10px;
    /*background-color: #000000b3;*/
    padding: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #00808085 0%, #059f9f8a 0%, #4e9c9c85 21%, #f99185 52%, #ed143d69 78%, #ed143d5c 100%);
    /*border: 1px solid white;*/
}

.works-done a{
    color: #bdf7ce;
    text-decoration: underline;
}

.works-done p{
    margin-bottom: 20px;
}

.project-link{
    text-align: center;
    color: black !important;
    margin-top: 5px;
}

.portada{

    width: 4rem;
    background-color: white;
    height: 80px;
    margin: auto;
    margin-bottom: 20px;
    /*border-radius: 8px;*/

}

.texto-portada{
    color: darkred;
    height: 100%;
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
    line-height: 80px;
    /*-webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);   */ 
}

.portada img{
    width: 100%;
    height: 100%;
}

.caja_vacia{
    display: none;
    height: 50%;
    border-left: 1px solid #FFF79A;
    border-right: 1px solid #FFF79A;
}

.typed, .typed-cursor{
   /* font-family: 'Kdam Thmor Pro', sans-serif;
    overflow-wrap: break-word;*/
    padding: 2px 0;
    line-height: 30px;
    color: black;
    background-color: #ffffff;
}

.typed-cursor{
    color: red !important;
}

#contact_section{
    /*display: none;*/
    text-align: center;
    margin: auto;
    /*background-color: #00000075;*/

}

.back-text{
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    text-align: center;
    align-self: center;


}

.stack_icons_container{
    width: 40px;
    height: auto;
}

.stack_icons{
    width: 1.8rem;
    height: inherit;
}

footer{
    /*background-color: rgb(255 247 154 / 10%);*/
    height: 27px;
    margin: auto;
    border-left: 1px solid #FFF79A;
    border-right: 1px solid #FFF79A;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

}

.social-media{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.social-media > li > p {
    font-size: 0.8rem;
    color: black;
    letter-spacing: 2px;
}

@media screen and (max-width: 720px){

    /*.secciones{
        height: 1100px;
    }*/
    h2{
        font-size: 0.7rem;
    }

    .nav{
        font-size: 0.8rem;
    }

    .typed, .typed-cursor{
        font-size: 10px;
    }

#contenedor_portfolio{
    height: 100%;
}

    #contenedor_texto, #contenedor_portfolio{
        width: 100%;
        padding: 10px;
        /*font-size: 0.8rem;*/
    }

#apartados{
    display: block;
}

.apartados-text{
    height: auto;
}

.sub-menu{
    width: 80%;
    margin: auto;
}

    .servicios, .valores, .tecnologias, .formacion{
        font-size: 0.7rem;
        letter-spacing: 1px;
        width: 100%;
    }

.works-done{
    width: 100%;
}

    #tarjeta{
        height: 100%;
        width: 100%;
        transition: none;
    }

  

  #contact_section{
        width: 100%;
        padding: 0 40px;
    }

    .form_container{
        width: auto;
    }

}

@media screen and (min-width: 721px) {
    
    .typed, .typed-cursor{
        font-size: 1rem;
    }

}

/*@media screen and (max-height: 720px){
    #contact_section{
       display: flex; 
    }*/
    


